* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
}

.card {
  /* border: 2px solid black; */
  width: 300px;
  padding: 20px;
  margin: auto;
  box-shadow: 2px 2px 5px;
  transition:
    box-shadow 0.4s,
    transform 0.4s;
}

.card:hover {
  box-shadow: 5px 5px 20px;
  transform: scale(1.1);
}

.product-name {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.product-price {
  font-size: 24px;
  font-weight: bold;
}

.product-desc {
  font-size: 14px;
}

.product-rating {
  font-size: 24px;
  color: yellow;
}

.add-to-cart-button {
  border: none;
  background-color: rgb(21, 142, 0);
  color: white;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  width: 300px;
  transition:
    opacity 0.4s,
    transform 0.4s;
}

.add-to-cart-button:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.05);
}
